.message_board{
    width: 810px;
    height: 72vh;
    border-radius: 16px;
    border: 1px solid #DBDBDB;
}

.board_header{
    width: 100%;
    height: 50px;
    position: relative;
}

.opponent_name{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    color: #000000;

    position: absolute;
    top: 4px;
    left: 30px;
}

.message_list_board{
    width: 100%;
    height: calc(100% - 70px);
    margin: 0;
    padding: 0;

    overflow-y: auto;
}

.icons{
    position: absolute;
    top: 14px;
    right: 30px;

    display: flex;
    align-items: center;
    color: #be3dfa;
}

.send_icon{
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
}

.refresh_icon{
    font-size: 24px;
    margin-right: 30px;
    cursor: pointer;
}

.remove_icon{
    font-size: 21px;
    cursor: pointer;
}

