.no_visible{
    display: none;
}

.visible{
    display: block;
}

.search_filter{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
}

.in_main{
    top: 45px;
}

.not_in_main{
    top: 26px;
}

.search_filter{
    width: 100%;
    height: 116px;
    z-index: 5;
    padding: 0 12px;
    
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 16px;

    position: absolute;

    font-size: 14px;
    list-style: none;
}

.search_filter .search_filter_title{
    margin: 0;
    height: 36px;
    border-bottom: 1px solid #CCCCCC;
    color: #969696;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.search_filter .search_way{
    margin: 2px 0;
    height: 36px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;

    cursor: pointer;
    position: relative;
    z-index: 3;
}

.search_filter .search_way:hover{
    background: #dddddd;
}